<!-- Spinners  -->
<div *ngIf="dataLoaded == false" class="spinner-border text-success" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<!-- Data Tables -->
<table *ngIf="dataLoaded != false" class="table table-hover  table-responsive">
  <thead class="thead-inverse">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
      <th>Category Id</th>
      <th>Stock</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td scope="row">{{product.productId}}</td>
      <td>{{product.productName}}</td>
      <td>{{product.unitPrice}} $</td>
      <td>{{product.categoryId}}</td>
      <td>{{product.unitsInStock}} Amount</td>
    </tr>
  </tbody>
</table>
